@use 'globals';

.home-screen {
  

  .main-home {
    padding-bottom: 5em;
    .text-side {
        margin-top: 8em;

        h2 {
          font-size: 3.5em;
          margin-bottom: 30px;
        }
        p {
          font-size: 18px;
          margin-bottom: 30px;
        }
        .btn-wrapper {
          margin-top: 1.5em;
          a.home-btn {
            @include globals.myBtn;
            margin-right: 10px;
          }
          a:hover {
            color: #fff;
          }
        }
      }
      .img-side {
        text-align: center;
        display: flex;
        justify-content: end;
        #animation {
          width: 80%;
      }
      }
}
}